<header>
  <a href="{{ '/' | relative_url }}">
    <img src="{{ '/images/logo.png' | relative_url }}" alt="Logo" />
  </a>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Aktuelles</a></li>
      <li><a href="{{ '/verein' | relative_url }}">Verein</a></li>
      <!-- <li><a href="{{ '/posts' | relative_url }}">Posts</a></li> -->
      <li><a href="https://wolke.csc-weedstock.de" target="_blank">Mitgliederbereich</a></li>
    </ul>
  </nav>
</header>

